@page "/counter"

<PageTitle>Counter</PageTitle>

<div>

    <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Primary">COUNTER PAGE</MudText>
    <MudText Typo="Typo.subtitle1" Align="Align.Center" Color="Color.Secondary">Counter: @currentCount</MudText>


    <MudElement Class="d-flex justify-center">
        <MudButton Variant="Variant.Filled" OnClick="IncrementCount" Color="Color.Primary">Click Me!</MudButton>
    </MudElement>

</div>

@code {
    [Inject] private IDialogService DialogService  { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }


    private async void OnButtonClicked()
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning",
            @"You are leaving this page for a Blazor survey.",
            yesText: "Leave", cancelText: "Stay");

        if (result != null && result == true)
        {
            NavigationManager.NavigateTo("https://go.microsoft.com/fwlink/?linkid=2186158", true);
        }
    }
}


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += 5;
    }
}

