/* _content/BlazorTest/Shared/MainLayout.razor.rz.scp.css */
<<<<<<< HEAD
.page[b-fsyfcs59sg] {
=======
.page[b-gfuazdoowf] {
>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470
    position: relative;
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
main[b-fsyfcs59sg] {
    flex: 1;
}

.sidebar[b-fsyfcs59sg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-fsyfcs59sg] {
=======
main[b-gfuazdoowf] {
    flex: 1;
}

.sidebar[b-gfuazdoowf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-gfuazdoowf] {
>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
<<<<<<< HEAD
    align-items: center;
}

    .top-row[b-fsyfcs59sg]  a, .top-row .btn-link[b-fsyfcs59sg] {
=======
    float: right;
    align-items: center;
}

    .top-row[b-gfuazdoowf]  a, .top-row .btn-link[b-gfuazdoowf] {
>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470
        white-space: nowrap;
        margin-left: 1.5rem;
    }

<<<<<<< HEAD
    .top-row a:first-child[b-fsyfcs59sg] {
=======
    .top-row a:first-child[b-gfuazdoowf] {
>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
<<<<<<< HEAD
    .top-row:not(.auth)[b-fsyfcs59sg] {
        display: none;
    }

    .top-row.auth[b-fsyfcs59sg] {
        justify-content: space-between;
    }

    .top-row a[b-fsyfcs59sg], .top-row .btn-link[b-fsyfcs59sg] {
=======
    .top-row:not(.auth)[b-gfuazdoowf] {
        display: none;
    }

    .top-row.auth[b-gfuazdoowf] {
        justify-content: space-between;
    }

    .top-row a[b-gfuazdoowf], .top-row .btn-link[b-gfuazdoowf] {
>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470
        margin-left: 0;
    }
}

@media (min-width: 641px) {
<<<<<<< HEAD
    .page[b-fsyfcs59sg] {
        flex-direction: row;
    }

    .sidebar[b-fsyfcs59sg] {
=======
    .page[b-gfuazdoowf] {
        flex-direction: row;
    }

    .sidebar[b-gfuazdoowf] {
>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

<<<<<<< HEAD
    .top-row[b-fsyfcs59sg] {
=======
    .top-row[b-gfuazdoowf] {
>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470
        position: sticky;
        top: 0;
        z-index: 1;
    }

<<<<<<< HEAD
    .top-row[b-fsyfcs59sg], article[b-fsyfcs59sg] {
=======
    .top-row[b-gfuazdoowf], article[b-gfuazdoowf] {
>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

<<<<<<< HEAD
/* _content/BlazorTest/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-z0idotq979] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-z0idotq979] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-z0idotq979] {
    font-size: 1.1rem;
}

.oi[b-z0idotq979] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-z0idotq979] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-z0idotq979] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-z0idotq979] {
        padding-bottom: 1rem;
    }

    .nav-item[b-z0idotq979]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-z0idotq979]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-z0idotq979]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-z0idotq979] {
        display: none;
    }

    .collapse[b-z0idotq979] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-z0idotq979] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

=======
>>>>>>> d96c229193e3fd9d969850aafc182d7650d53470
