@page "/counter"

<PageTitle>Counter</PageTitle>
<div>

    <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Primary">COUNTER PAGE</MudText>
    <MudText Typo="Typo.subtitle1" Align="Align.Center" Color="Color.Secondary">Counter: @currentCount</MudText>

    <MudElement Class="d-flex justify-center">
        <MudButton Variant="Variant.Filled" OnClick="IncrementCount" Color="Color.Primary">Click Me!</MudButton>
    </MudElement>

</div>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += 9;
    }
}
