@page "/"

<PageTitle>Kyle Dickerson Composer</PageTitle>
<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Kyle Dickerson Composer</title>
</HeadContent>

<MudTabs Centered="true" Color="Color.Dark" Elevation="1" Rounded="true" PanelClass="mb-6">
    <MudTabPanel Text="Audio Demo">
        <MudPaper>
            <AudioDemo />
        </MudPaper>
    </MudTabPanel>

    <MudTabPanel Text="Techincal Information">
        <MudPaper Class="ma-6">
            <MudText Align="Align.Center">I will put a blog here about the tech involved in making the demo</MudText>
        </MudPaper>
    </MudTabPanel>

    <MudTabPanel Text="About me">
        <MudPaper Elevation="0">
            <AboutMe />
        </MudPaper>

    </MudTabPanel>
</MudTabs>