@page "/"

<PageTitle>Kyle Dickerson Composer</PageTitle>
<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Kyle Dickerson Composer</title>
</HeadContent>


<MudPaper Elevation="0">
    <MudText Class="py-185px" Align="Align.Center" Typo=" Typo.h3">Composer/Pianist/Programmer
    </MudText>
    <MudDivider></MudDivider>
    <MudPaper Elevation="0" Class="py-1115px">
        <MudText Typo="Typo.h5" Class="py-1115px">Skills</MudText>
    </MudPaper>
    <MudDivider></MudDivider>
    <MudPaper Elevation="0" Class="py-1115px">
        <MudText Typo="Typo.h5">Excellent Musician</MudText>
    </MudPaper>
    <ul style="justify-content: center; pa-5=">
        <li>
            <MudText>Outstanding ability with classical and jazz music theory. Excellent aural skills.
            </MudText>
        </li>
        <li>
            <MudText>First composer to skip a year and start as a sophomore in the USF Music Composition Program.
            </MudText>
        </li>
        <li>
            <MudText>Applied and was accepted into the Classical Piano, Jazz Piano and Music Composition Programs
                at USF.
            </MudText>
        </li>
    </ul>
    <MudPaper Elevation="0" Class="py-1115px">
        <MudText Typo="Typo.h5">DAW Expert</MudText>
    </MudPaper>
    <ul style="justify-content: center;">
        <li>
            <MudText>Outstanding ability with classical and jazz music theory. Excellent aural skills.
            </MudText>
        </li>
        <li>
            <MudText>Builds custom macros using the Cubase logical editor and key switches with Cubase Expression
                maps.
            </MudText>
        </li>
        <li>
            <MudText>Outstanding knowledge of mixing and production tools and procedures.
            </MudText>
        </li>
    </ul>
    <MudPaper Elevation="0" Class="py-1115px">
        <MudText Typo="Typo.h5">Sound and Adaptive Music</MudText>
    </MudPaper>
    <ul style="justify-content: center;">
        <li>
            <MudText>Interested in studying advanced audio programming concepts like DSP design and Runtime Sound
                Systems.
            </MudText>
        </li>
        <li>
            <MudText>Music Composition coursework at USF included the study of electronic music (viz. Music
                Concrete), and real-time electronic music composition and performance with PureData.
            </MudText>
        </li>
        <li>
            <MudText>Strong understanding of audio middleware tools like FMOD, WWise and their implementation in
                Unity.
            </MudText>
        </li>
    </ul>
    <MudPaper Elevation="0" Class="py-1115px">
        <MudText Typo="Typo.h5">.NET Full Stack Developer</MudText>
    </MudPaper>
    <ul style="justify-content: center;">
        <li>
            <MudText>Strong ability with C# and the Object-Oriented Paradigm.
            </MudText>
        </li>
        <li>
            <MudText>Builds Full Stack applications using Blazor, ASP.NET Core, and EF Core.
            </MudText>
        </li>
        <li>
            <MudText>Proficient with the Unix command-line environment and version control using git and
                github.
            </MudText>
        </li>
    </ul>
    <MudPaper Elevation="0" Class="py-1115px">
        <MudText Typo="Typo.h5">Hardcore Gamer</MudText>
    </MudPaper>
    <ul style="justify-content: center;">
        <li>
            <MudText>Achieved Master League in Starcraft 2: Wings of Liberty.
            </MudText>
        </li>
    </ul>
</MudPaper>