@page "/"

<PageTitle>Kyle Dickerson Composer</PageTitle>
<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Kyle Dickerson Composer</title>
</HeadContent>
<MudText Typo="Typo.h1">Kyle Dickerson - Composer/Pianist/Programmer
</MudText>
<MudDivider></MudDivider>
<MudText Typo="Typo.h2">Skills</MudText>
<MudDivider></MudDivider>
<MudText Typo="Typo.h2">Excellent Musician</MudText>
<ul>
    <li>
        <MudText>Outstanding ability with classical and jazz music theory. Excellent aural skills.
        </MudText>
        <MudText>First composer to skip a year and start as a sophomore in the USF Music Composition Program.
        </MudText>
        <MudText>Applied and was accepted into the Classical Piano, Jazz Piano and Music Composition Programs at USF.
        </MudText>
        <MudText> </MudText>
    </li>
</ul>
<MudText Typo="Typo.h2">DAW Expert</MudText>
<ul>
    <li>
        <MudText>Crafted an outstanding pre-stemmed and pre-mixed orchestral template in Cubase using the best
            instruments.
        </MudText>
        <MudText>Builds custom macros using the Cubase logical editor and key switches with Cubase Expression maps.
        </MudText>
        <MudText>Outstanding knowledge of mixing and production tools and procedures.
        </MudText>
        <MudText> </MudText>
    </li>
</ul>
<MudText Typo="Typo.h2">Sound and Adaptive Music</MudText>
<ul>
    <li>
        <MudText>Interested in studying advanced audio programming concepts like DSP design and Runtime Sound Systems.
        </MudText>
        <MudText>Music Composition coursework at USF included the study of electronic music (viz. Music Concrete), and
            real-time electronic music composition and performance with PureData.
        </MudText>
        <MudText>Strong understanding of audio middleware tools like FMOD, WWise and their implementation in Unity.
        </MudText>
        <MudText> </MudText>
    </li>
</ul>
<MudText Typo="Typo.h2">.NET Full Stack Developer</MudText>
<ul>
    <li>
        <MudText>Strong ability with C# and the Object-Oriented Paradigm.
        </MudText>
        <MudText>Builds Full Stack applications using Blazor, ASP.NET Core, and EF Core.
        </MudText>
        <MudText>Proficient with the Unix command-line environment and version control using git and github.
        </MudText>
    </li>
</ul>
<MudText Typo="Typo.h2">Hardcore Gamer</MudText>
<ul>
    <li>
        <MudText>Achieved Master League in Starcraft 2: Wings of Liberty.
        </MudText>
    </li>
</ul>