@page "/"

<PageTitle>Kyle Dickerson Composer</PageTitle>
<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Kyle Dickerson Composer</title>
</HeadContent>
<MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Primary">HELLO, WORLD!</MudText>
<MudText Typo="Typo.subtitle1" Align="Align.Center" Color="Color.Secondary">Welcome to your new app.</MudText>

