@page "/"

<PageTitle>Kyle Dickerson Composer</PageTitle>
<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Kyle Dickerson Composer</title>
</HeadContent>


<MudPaper style="margin-top: 10px; padding: 25px" Elevation="1" Class="ma-100px">
    <MudContainer>
        <MudText Align="Align.Center" Typo=" Typo.h3">Composer/Pianist/Programmer</MudText>
    </MudContainer>
    <MudDivider></MudDivider>
    <MudPaper style="margin-top: 10px;" Elevation="0">
        <MudText Typo="Typo.h3">Skills</MudText>
    </MudPaper>
    <MudPaper Elevation="0" style="margin-top: 10px;">
        <MudText Typo="Typo.h5">
            <strong>Excellent Musician</strong>
        </MudText>
    </MudPaper>
    <MudList>
        <MudListItem>
            <MudText>Outstanding ability with classical and jazz music theory. Excellent aural skills.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>First composer to skip a year and start as a sophomore in the USF Music Composition Program.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>Applied and was accepted into the Classical Piano, Jazz Piano and Music Composition
                Programs
                at USF.
            </MudText>
        </MudListItem>
    </MudList>
    <MudDivider></MudDivider>
    <MudPaper style="margin-top: 10px;" Elevation="0">
        <MudText Typo="Typo.h5">
            <strong>DAW Expert</strong>
        </MudText>
    </MudPaper>
    <MudList>
        <MudListItem>
            <MudText>Outstanding ability with classical and jazz music theory. Excellent aural skills.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>Builds custom macros using the Cubase logical editor and key switches with Cubase Expression
                maps.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>Outstanding knowledge of mixing and production tools and procedures.
            </MudText>
        </MudListItem>
    </MudList>
    <MudDivider></MudDivider>
    <MudPaper style="margin-top: 10px;" Elevation="0">
        <MudText Typo="Typo.h5">
            <strong>Sound and Adaptive Music</strong>
        </MudText>
    </MudPaper>
    <MudList>
        <MudListItem>
            <MudText>Interested in studying advanced audio programming concepts like DSP design and Runtime Sound
                Systems.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>Music Composition coursework at USF included the study of electronic music (viz. Music
                Concrete), and real-time electronic music composition and performance with PureData.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>Strong understanding of audio middleware tools like FMOD, WWise and their implementation in
                Unity.
            </MudText>
        </MudListItem>
    </MudList>
    <MudDivider></MudDivider>
    <MudPaper style="margin-top: 10px;" Elevation="0">
        <MudText Typo="Typo.h5">
            <strong>.NET Full Stack Developer</strong>
        </MudText>
    </MudPaper>
    <MudList>
        <MudListItem>
            <MudText>Strong ability with C# and the Object-Oriented Paradigm.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>Builds Full Stack applications using Blazor, ASP.NET Core, and EF Core.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>Proficient with the Unix command-line environment and version control using git and
                github.
            </MudText>
        </MudListItem>
    </MudList>
    <MudDivider></MudDivider>
    <MudPaper style="margin-top: 10px;" Elevation="0">
        <MudText Typo="Typo.h5">
            <strong>Hardcore Game</strong>
        </MudText>
    </MudPaper>
    <MudList>
        <MudListItem>
            <MudText>Achieved Master League in Starcraft 2: Wings of Liberty.
            </MudText>
        </MudListItem>
    </MudList>
</MudPaper>