@page "/"

<PageTitle>Index</PageTitle>

<div>
    <MudPaper>
        <MudText Typo="Typo.h1" Color="Color.Primary">HELLO, WORLD!</MudText>
        <MudDivider Class="my-2"></MudDivider>
        <MudText Typo="Typo.h5" Color="Color.Secondary">Welcome to your new app.</MudText>
    </MudPaper>
</div>



